@charset "utf-8";

/* いらない所を削除すること */

form#mail_form * {
	margin: 0;
	padding: 0;
}

form#mail_form {
	width: 960px;
	margin: 50px auto;
	padding: 10px 0;
	background: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 7px;
	box-shadow: 0 0 7px rgba( 0, 0, 0, 0.2 );
	font-size: 95%;
	line-height: 1.8;
}

.title{
	font-size: 150%;
	font-weight: bold;
	border-bottom: 1px solid #1D809F;
	width: 100%;
    text-align: center;
}

form#mail_form dl {
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
}

form#mail_form dl dt {
	clear: both;
	width: 30%;
	float: left;
	border-top: 1px solid #cccccc;
	padding: 15px 0;
	text-align: right;
	overflow: hidden;
}

form#mail_form dl dd {
	width: 65%;
	float: right;
	border-top: 1px solid #cccccc;
	padding: 15px 0 15px 5%;
}

form#mail_form dl dt:first-child,
form#mail_form dl dt:first-child + dd {
	border: none;
}

form#mail_form dl dt span {
	display: block;
	font-size: 85%;
	color: #3377ff;
}


form#mail_form input[type="text"],
form#mail_form input[type="email"],
form#mail_form input[type="tel"] {
	max-width: 90%;
	padding: 7px 2%;
	border: 1px solid #cccccc;
	border-radius: 3px;
	background: #fafafa;
	-webkit-appearance: none;
	font-size: 100%;
	font-family: inherit;
	margin-top: 7px;
}

form#mail_form input[type="text"]:focus,
form#mail_form input[type="email"]:focus,
form#mail_form input[type="tel"]:focus,
form#mail_form textarea:focus {
	box-shadow: 0px 0px 5px #55ccff;
	border: 1px solid #55ccff;
	background: #ffffff;
}

form#mail_form ul li input[type="radio"],
form#mail_form ul li input[type="checkbox"] {
	margin-right: 10px;
	margin-top: 10px;
}

form#mail_form ul li:first-child input[type="radio"],
form#mail_form ul li:first-child input[type="checkbox"] {
	margin-top: 0px;
}

form#mail_form select {
	font-size: 100%;
	font-family: inherit;
	margin-top: 10px;
}

form#mail_form textarea {
	display: block;
	width: 90%;
	max-width: 90%;
	height: 200px;
	padding: 7px 2%;
	resize: vertical;
	border: 1px solid #cccccc;
	border-radius: 3px;
	background: #fafafa;
	-webkit-appearance: none;
	font-size: 100%;
	font-family: inherit;
}


form#mail_form ul {
	list-style-type: none;
}

form#mail_form ul li label:hover {
	cursor: pointer;
}

form#mail_form input#company_name,
form#mail_form input#your_name,
form#mail_form input#tel,
form#mail_form input#address,
form#mail_form input#mail_address,
form#mail_form input#mail_address_confirm {
	width: 80%;
}

form#mail_form input#postal + a {
	display: inline-block;
	padding: 5px 15px;
	border: 1px solid #46b8da;
	border-radius: 3px;
	background: #5bc0de;
	font-size: 100%;
	color: #ffffff;
	text-decoration: none;
}



form#mail_form p#form_submit {
	width: 90%;
	margin: 0 auto;
	padding: 15px 0;
	border-top: 1px solid #cccccc;
    font-size: 16;
}

form#mail_form input[type="button"] {
	padding: 7px 20px;
	border: 1px solid #4cae4c;
	border-radius: 3px;
	background: #5cb85c;
	font-size: 100%;
	color: #ffffff;
	font-family: inherit;
	-webkit-appearance: none;
}

form#mail_form input[type="button"]:hover {
	cursor: pointer;
	background: #449d44;
	border: 1px solid #398439;
}

form#mail_form input#form_submit_button {
	margin-left: 35%;
}

.form_submit_button{
	display: inline-block;
	padding: 1em 2em;
	text-decoration: none;
	color:#1D809F;
	background: #1D809F;
	border: solid 2px #1D809F;
	border-radius: 3px;
	transition: .4s;
	color: white;
	font-size: 16;
	width: 100px;
	height: 40px

  }
  
  .form_submit_button:hover {
	background: #155d74;
	border-color: #155d74;
	color: white;
  }

.wrapper{
	background:white;
}

.wrapper2{
	background:white;
}


