html, body
{
    height: 100%;
}

body
{
    margin: 0px;
    padding: 0px;
    background: #2372DE url(images/bg01.png) repeat;
    font-family: 'Open Sans', sans-serif;
    font-size: 11pt;
    font-weight: 300;
    color: #6c6c6c
}


h1, h2, h3
{
    margin: 0;
    padding: 0;
    font-weight: 600;
    color: #454445;
}

p, ol, ul
{
    margin-top: 0;
}

ol, ul
{
    padding: 0;
    list-style: none;
}

p
{
    line-height: 180%;
}

a
{
    color: #2372DE;
}

a:hover
{
    text-decoration: none;
}

.container
{
    margin: 0px auto;
    width: 1200px;
}

.container2
{
    margin: 0px auto;
    width: 1200px;
}

/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

.image
{
    display: inline-block;
}

.image img
{
    display: block;
    width: 100%;
}

.image-full
{
    display: block;
    width: 100%;
    margin: 0 0 2em 0;
}

.image-left
{
    float: left;
    margin: 0 2em 2em 0;
}

.image-centered
{
    display: block;
    margin: 0 0 2em 0;
}

.image-centered img
{
    margin: 0 auto;
    width: auto;
}

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

ul.style1
{
    margin: 0;
    padding: 0em 0em 0em 0em;
    overflow: hidden;
    list-style: none;
    color: #6c6c6c
}

ul.style1 li
{
    overflow: hidden;
    display: block;
    padding: 2.80em 0em;
    border-top: 1px solid #D1CFCE;
}

ul.style1 li:first-child
{
    padding-top: 0;
    border-top: none;
}

ul.style1 .image-left
{
    margin-bottom: 0;
}

ul.style1 h3
{
    padding: 1.2em 0em 1em 0em;
    letter-spacing: 0.10em;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 600;
    color: #454445;
}

ul.style1 a
{
    text-decoration: none;
    color: #525252;
}

ul.style1 a:hover
{
    text-decoration: underline;
    color: #525252;
}

ul.style2
{
    margin: 0;
    padding-top: 1em;
    list-style: none;
}

ul.style2 li
{
    border-top: solid 1px #E5E5E5;
    padding: 0.80em 0;
}

ul.style2 li:first-child
{
    border-top: 0;
    padding-top: 0;
}

/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

ul.contact
{
    margin: 0;
    padding: 2em 0em 0em 0em;
    list-style: none;
}

ul.contact li
{
    display: inline-block;
    padding: 0em 0.30em;
    font-size: 1em;
}

ul.contact li span
{
    display: none;
    margin: 0;
    padding: 0;
}

ul.contact li a
{
    color: #FFF;
}

ul.contact li a:before
{
    display: inline-block;
    background: #3f3f3f;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    text-align: center;
    color: #FFFFFF;
}

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/
.btn-danger
{
    background: white;
    padding: 1em 2em;
    color: black;
    font-size: 16;
}

.btn2
{
    background: white;
    padding: 1em 2em;
    color: black;
    font-size: 16;
}

/* なぜ、右に寄らないのだろう。 */
.btn-logout{
    /* position: relative; */
    width: 50px;
    margin-left: auto;
}

.button
{
    display: inline-block;
    padding: 1em 3em;
    background: #2372DE url(images/bg01.png);
    -moz-transition: opacity 0.25s ease-in-out;
    -webkit-transition: opacity 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out;
    -ms-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;
    letter-spacing: 0.20em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: #FFF;

}

    
        
/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

.title
{
    margin-bottom: 3em;
}

.title h2
{
    font-weight: 400;
    font-size: 2.8em;
    color: #323232;
}

.title .byline
{
    letter-spacing: 0.15em;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.1em;
    color: #6F6F6F;
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

#header
{
    position: relative;
    height: 130px;
}
#header2
{
    position: relative;
    height: 100px;
}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

#logo
{
    position: absolute;
    top: 3em;
    left: 0;
    width: 100%;
}

#logo h1
{
    display: inline-block;
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: 700;
    color: #FFF;
}

#logo a
{
    text-decoration: none;
    color: #FFF;
}

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

#menu
{
    position: absolute;
    right: 0;
    top: 0;
}

#menu ul
{
    display: inline-block;
}

#menu li
{
    display: block;
    float: left;
    text-align: center;
}

#menu li a, #menu li span
{
    display: block;
    padding: 0em 1.5em;
    height: 150px;
    letter-spacing: 0.20em;
    line-height: 150px;
    text-decoration: none;
    font-size: 0.90em;
    font-weight: 600;
    text-transform: uppercase;
    outline: 0;
    color: #ACCFFF;
}



#menu .current_page_item a
{
    background: #2A76DC;
    color: #FFF;
}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

#banner-wrapper
{
    overflow: hidden;
    padding: 5em 0em;
    background: #F6F6F6;
}


#banner .box-left
{
    float: left;
}

#banner h2
{
    margin: 0em;
    padding: 0em;
    font-weight: 400;
    font-size: 3em;
    color: #3E454C;
}

#banner span
{
    display: block;
    padding-top: 0.50em;
    font-size: 1.4em;
    color: #2372DE;
}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

#wrapper
{
    background: #FFF;
}

#page
{
    overflow: hidden;
    padding: 4em 0em;
}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

#content
{
    float: left;
    width: 700px;
}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

#sidebar
{
    float: right;
    width: 450px;
}

#stwo-col
{
    margin-top: 2em;
}

#stwo-col h2
{
    display: block;
    padding-bottom: 1.5em;
    letter-spacing: 0.10em;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 600;
    color: #454445;
}



/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

.text-muted
{
    text-align: center;
    color: white;
}

.text-muted2
{
    text-align: center;
    color: white;
}

/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/

#featured-wrapper
{
    overflow: hidden;
    padding: 5em 0em;
    background: #FFF;
    text-align: center;
}

#featured .major
{
    overflow: hidden;
    margin-bottom: 3em;
    padding-bottom: 2em;
    border-bottom: 1px solid #E8E8E8;
}

#featured .major h2
{
    font-size: 3em;
}


#featured .major .byline
{
    font-size: 1.3em;
}

#featured .title
{
    margin-bottom: 1em;
}

#featured .title h2
{
    font-size: 1.2em;
}

#featured h2
{
    text-align: center;
}

#featured .icon
{
    position: relative;
    display: block;
    margin: 0px auto 20px auto;
    line-height:  normal;
    font-size: 6em;
    text-align: center;
    color: #2372DE;
}


